.span11
  .span4.profile
    %h4 #{developer.name}
    %br
    %p Type: #{developer.admin? ? "Admin" : "Developer"}
    %p Email: #{developer.email}
    %br
    .progress
      .bar{ :style => "width: 10%;" }
      .bar.bar-success{ :style => "width: 10%;" }
    %h5.level
      %span Level 
      Junior 2
  .areas

.span4.img-rounded
  .areas_container(ng-controller="devSkillsController" ng-init="getAreas(#{developer.id})")
    %h4 Areas
    %div
      %ul.areas_list
      %li.area(id="{{area.id}}"ng-repeat="area in areas")
        {{area.name}}
        %ul.skill_list
          %li.skill(id="{{skill.id}}" ng-repeat="skill in area.skills")
            %input(ng-model="skill.visible" type="checkbox" ng-disabled="#{!current_developer.admin?}")
            {{skill.name}}
            {{area.admin}}
          %p(ng-show="empty_area($index)")
            this area has no skills yet...

    %button(ng-show="#{current_developer.admin?}" type="button" ng-click="updateDevSkills(#{developer.id})") Update Skills
