.span11
  .span4.profile
    .profile-info
      %h4 #{developer.name}
      %br
      %p
        %span
          Type: 
        #{developer.admin? ? "Admin" : "Developer"}
      %p
        %span
          Email:
        #{developer.email}
      %br
    .progressbar
      .progress
        .bar{ :style => "width: 10%;" }
        .bar.bar-success{ :style => "width: 10%;" }
      %h5.level
        %span Level 
        Junior 2
  .tabs-areas
    %ul.nav.nav-tabs
      %li.active
        = link_to "Development", "#development", :data => {:toggle=>"tab"}
      %li
        = link_to "Area2", "#area2", :data => {:toggle=>"tab"}
      %li
        = link_to "Area3", "#area3", :data => {:toggle=>"tab"}
    .tab-content
      .tab-pane.active#development
        %ul
          %li.span2.skill.img-rounded
            html
          %li.span2.skill.img-rounded
            vim
          %li.span2.skill.img-rounded
            css
      .tab-pane#area2
        Eos vocibus deserunt quaestio ei. Blandit incorrupte quaerendum in quo, nibh impedit id vis, vel no nullam semper audiam. Ei populo graeci consulatu mei, has ea stet modus phaedrum. Inani oblique ne has, duo et veritus detraxit. Tota ludus oratio ea mel, offendit persequeris ei vim.
      .tab-pane#area3
        Dicant evertitur mei in, ne his deserunt perpetua sententiae, ea sea omnes similique vituperatoribus. Ex mel errem intellegebat comprehensam, vel ad tantas antiopam delicatissimi, tota ferri affert eu nec. Legere expetenda pertinacia ne pro, et pro impetus persius assueverit

.span4.img-rounded
  .areas_container(ng-controller="devSkillsController" ng-init="getAreas(#{developer.id})")
    %h4 Areas
    .input-append
      %input#appendedInputButton.span3{ :type => "text"}
      %button.btn.search{ :type => "button"}
        %span.icon-search
    %div.areas_list
      %ul.skills_area
        %li.area(id="{{area.id}}"ng-repeat="area in areas")
          %h4
            {{area.name}}
          %ul.skill_list.inline
            %li.skill(id="{{skill.id}}" ng-repeat="skill in area.skills")
              %input(ng-model="skill.visible" type="checkbox" ng-disabled="#{!current_developer.admin?}")
              {{skill.name}}
              {{area.admin}}
            %p(ng-show="empty_area($index)")
              this area has no skills yet...

    .button
      %button.btn.btn-yellow(ng-show="#{current_developer.admin?}" type="button" ng-click="updateDevSkills(#{developer.id})") Update Skills
