<div class = "form background-white img-rounded">
<h3>Sign up</h3>


<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>


  <div class="control-group"><%= f.text_field :name, :autofocus => true, :class => "input-block-level", :placeholder => "Name" %></div>

  <div class="control-group"><%= f.email_field :email, :class => "input-block-level", :placeholder => "Email" %></div>

  <div class="control-group"><%= f.password_field :password, :class => "input-block-level", :placeholder => "Password" %></div>

  <div class="control-group"><%= f.password_field :password_confirmation, :class => "input-block-level", :placeholder => "Password confirmation" %></div>

  <div class = "button"><%= f.submit "Sign up", :class => "btn" %></div>
<% end %>

<%= render "developers/shared/links" %>
</div>
