%h1= category.name
%strong Description
= category.description
%br
%strong Percentage
= category.percentage
%br
= link_to 'Back', categories_path
|
= link_to 'Show Skills', category_skills_path(category.id)
