%h1= category.name
%strong Description
= category.description
%br
%strong Percentage
= category.percentage
%hr
= render template: 'skills/index', locals: { skills: skills }
%hr
= link_to 'Back', categories_path
