!!!
%html(ng-app="LevelDevs")
  %head
    %title LevelDev
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = javascript_include_tag "https://ajax.googleapis.com/ajax/libs/angularjs/1.1.4/angular.min.js"
    = csrf_meta_tags 
  %body
    %header
      #logo
        = link_to image_tag("logo-tango.png"), root_url
      #login
        -if developer_signed_in?
          Signed in as 
          = current_developer.email + '.'
          Not you?
          = link_to "Sign out", destroy_developer_session_path, method: :get
        - else
          %ul
            %li
              = link_to "Sign up", new_developer_registration_path
            %li  
              = link_to "Sign in", new_developer_session_path
    %nav
      %h1 Developers Level
      -if developer_signed_in?
        %hr
        = link_to "Categories", categories_path
        = link_to "Level"
        = link_to "My Skills"
        = link_to "My profile", developer_path(current_developer)
        -if current_developer.admin? 
          = link_to "Developers", root_url
        %hr
    #content
      = yield
